<h1> <%= @team.name %> </h1>

<!-- <p><a href="/teams/<%= @team.id %>/players"> Current Players </a></p>
-->
<form action="/teams/<%= @team.id %>/players">
    <input type="submit" value="<%= @team.name %> Players">
</form>

<p> Current Player Count: <%= @team.players.count %> </p>
<p> Current Season Wins: <%= @team.season_wins %> </p>
<p> Eligible for this year's playoffs? <%= 
if @team.playoff_eligible == true
    "Yes!"
else
    "Unfortunately not this year."
end %> </p>

<form action="/teams/<%= @team.id %>/edit" method="PATCH">
    <input type="submit" value="Update Team">
</form>

<form action="/teams/<%= @team.id %>" method="DELETE">
    <input type="submit" value="Delete Team">
</form>