<h1> <%= @team.name %> Players </h1>

<form action="/teams/<%= @team.id %>/players/new" style="display: inline-block;">
    <input type="submit" value="New Player">
</form>

<%= link_to "Sort Players", "/teams/#{@team.id}/players?sort=true", method: :get %>

<br>

<% @players.each do |player| %>
    <h3> <%= link_to player.name, "/players/#{player.id}" %> </h3>
    <p> Player Jersey #: <%= player.jersey_number %> </p>
    <p> Has won a Stanley Cup? <%= player.is_a_champion(player.won_cup) %> </p>
    <form action="/players/<%= player.id %>/edit" method="GET" style="display: inline-block;">
        <input type="submit" value="Update Player">
    </form>
    <form action="/players/<%= player.id %>" method="DELETE" style="display: inline-block;">
        <input type="submit" value="Delete Player">
    </form>
<% end %>