<h1> <%= @player.name %> </h1>

<p> Jersey Number: <%= @player.jersey_number %> </p>

<p> Has previously won a Stanley Cup?
<%= 
if @player.won_cup == true
    "Yes!"
else
    "Unfortunately not."
end %> </p>

<form action="/players/<%= @player.id %>/edit" method="GET" style="display: inline-block;">
    <input type="submit" value="Update Player">
</form>

<form action="/players/<%= @player.id %>" method="DELETE" style="display: inline-block;">
    <input type="submit" value="Delete Player">
</form>